.list-group-title {
  background-color: var(--color-16);
  color: var(--color-100);
}

.quicklink-item.active {
  background-color: var(--color-accent) !important;
  color: var(--color-100);
  border: none;
  margin-top: 0 !important;
}
