.progress {
  height: 5px;
}

body {
  overflow-y: scroll;
  height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
}

#content {
  max-width: 800px;
  margin: auto;
  padding-top: 2rem;
}

.card {
  border: none;
}

h1 {
  font-size: xx-large;
}

h5 {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-88);
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.link-title {
  font-size: medium;
}

.link-title:hover + .link {
  color: inherit;
}

.link {
  color: var(--color-66);
}

.quick-link img {
  padding: 10px 10px;
  height: 45px;
  width: 45px;
}

.quick-link-left img {
  height: 45px;
  width: 45px;
}

.quick-link-right img {
  margin-top: 5px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.quick-link-big img {
  padding: 10px 10px;
  height: 60px;
  width: 60px;
}

.update-notifier {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-accent-dark);
  color: var(--color-100);
  border: none;
  border-radius: 3px;
  letter-spacing: 0.4px;
}

.update-notifier:hover {
  background-color: var(--color-accent);
}

.network-status {
  position: fixed;
  top: 0;
  right: 0;
  margin: 17px 24px;
  color: red;
  font-weight: 600;
  font-size: medium;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 50%;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.05rem;
  padding: 0%;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#galleryItem:hover {
  cursor: pointer;
  box-shadow: 0 0 0 3px var(--color-accent);
}

#next:hover {
  cursor: pointer;
}

#previous:hover {
  cursor: pointer;
}

#next,
#previous,
#result {
  color: rgba(0, 0, 0, 0.54) !important;
}
