.etabs-tabgroup {
  position: absolute;
  width: 100%;
  height: 37px;
  background-color: var(--color-11);
  cursor: default;
  font-size: 12px;
  -webkit-user-select: none;
  user-select: none;
  display: none;
  padding: 0;
}

.etabs-padding {
  padding-left: 78px;
}

.etabs-tabgroup.visible {
  display: block;
}

.etabs-tabs {
}

.etabs-tab {
  display: none;
  position: relative;
  height: 37px;
  padding: 5px 7px 5px 8px;
  font-size: 12px;
  cursor: default;
  background-color: var(--color-11);
  color: var(--color-44);
}

/* Dragula */
.etabs-tab.gu-mirror {
  padding-bottom: 0;
}

.etabs-tab:first-child {
  border-left: none;
}

.etabs-tab.visible:first-child {
  display: inline-block;
}

.etabs-tab:hover {
  background-color: var(--color-13);
  color: var(--color-88);
}

.etabs-tab.visible {
  display: flex;
  float: left;
  align-items: center;
}

.etabs-tab.active {
  background-color: var(--color-16);
  color: var(--color-96);
}

.etabs-tab.flash {
  background: linear-gradient(to bottom, rgba(255, 243, 170, 1) 0%, rgba(255, 227, 37, 1) 100%);
}

.etabs-buttons {
  float: left;
}

.etabs-buttons button {
  float: left;
  background: var(--color-accent);
  border: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  margin: 7px 6px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0;
  color: var(--color-88);
}

.etabs-buttons button:hover {
  background: var(--color-accent-dark);
}

.etabs-tab-badge {
  position: absolute;
  right: 0;
  top: -7px;
  background: red;
  border-radius: 100%;
  text-align: center;
  font-size: 10px;
  padding: 0 5px;
}

.etabs-tab-badge.hidden {
  display: none;
}

.etabs-tab-icon {
  display: inline-block;
  height: 16px;
}

.etabs-tab-icon img {
  max-width: 25px;
  max-height: 25px;
  margin-top: 1px;
  opacity: 0.4;
}

.etabs-tab:hover .etabs-tab-icon img {
  opacity: 1;
}

.etabs-tab.active .etabs-tab-icon img {
  opacity: 1;
}

.etabs-tab-title {
  display: inline-block;
  margin-left: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.etabs-tab-title.hidden {
  display: none;
}

.etabs-tab-buttons.hidden {
  display: none;
}

.etabs-tab-buttons {
  display: inline-block;
  margin-left:5px;
}

.etabs-tab-buttons button {
  display: inline-block;
  color: var(--color-22);
  background: none;
  font-size: 14px;
  border: none;
  width: 14px;
  padding: 0;
  text-align: center;
}

.etabs-tab:hover .etabs-tab-buttons button {
  color: var(--color-33);
}

.etabs-tab:hover .etabs-tab-buttons button:hover {
  color: var(--color-88);
}

.etabs-tab.active .etabs-tab-buttons button {
  color: var(--color-33);
}

.etabs-tab.active .etabs-tab-buttons button:hover {
  color: var(--color-100);
}

.etabs-views {
  position: relative;
  border-top: 1px solid #aaa;
  height: calc(100vh - 33px);
}

.etab-view {
  position: relative;
}

.network-status {
  position: fixed;
  top: 0;
  right: 0;
  margin: 7px 10px;
  color: var(--color-accent-dark);
}
