.toolbar {
  height: 45px;
  border-bottom: 1px solid var(--color-border);
  margin-top: 35px;
  width: 100%;
  background-color: var(--color-bg);
  display: none;
}

.toolbar.active {
  display: block;
}

.toolbar .container {
  max-width: 900px;
}

.toolbar .row {
  padding: 5px;
  height: 45px;
}

.tools-title {
  color: var(--color-subtle);
  padding: 9px 8px;
  font-size: 12px;
}

.medium-action {
  color: var(--color-accent);
  background: none;
  cursor: pointer;
  margin: 2px 4px;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding: 4px 8px;
}

.medium-action-warning {
  border: 1px solid darkorange;
  color: darkorange;
  font-size: 12px;
  padding: 2px 6px;
}

.medium-action:hover {
  background-color: var(--color-accent);
  color: white;
  text-decoration: none;
}

.medium-action-warning:hover {
  background-color: darkorange;
  color: white;
  text-decoration: none;
}
