.wincontrol {
  -webkit-app-region: none;
  height: 37px;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

.wincontrol.visible {
  display: block;
}

.wincontrol-action {
  height: 37px;
  width: 45px;
  background-color: transparent;
  border: none;
  color: var(--color-55);
}

.wincontrol-action:hover {
  background-color: #3f3f41;
  color: var(--color-100);
}

.wincontrol-action.wincontrol-close:hover {
  background-color: red;
  color: var(--color-100);
}
